.todo {
    background-color: lightblue;
    width: 80%;
    max-width: 800px;

    &.hidden, *.hidden {
        display: none;
    }

    .todo-checkbox:hover {
        background-color: #fff;
    }

    &[completed] {

        .todo-title, .todo-title-input {
        text-decoration: line-through;
        font-style: italic;
        }

        .todo-header {
            background-color: #251925;
        }

        .todo-footer {
            
        }

        .todo-checkbox {
            background-color: #eee;
        }

        .todo-checkbox:hover {
            background-color: transparent;
        }
    } 

    .todo-header, .todo-footer {
        color: #fff;
        padding: .5rem 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

    }

    .todo-header {
        background-color: var(--dark-purple);
        flex-wrap: wrap;
        cursor: pointer;

        &:focus {
            background-color: #675067;
            outline: none;
        }

        .todo-title {
            font-size: 1.2rem;
            color: #fff;

            
        }

        .todo-checkbox:hover ~ .todo-title  {
            text-decoration: line-through;
        }

        &:not([completed]) .todo-checkbox:hover ~ .todo-title  {
            text-decoration: none;
        }


        .todo-due-date {
            color: #fff;
        }

        .todo-due-date, .todo-due-date-input {
            margin-left: auto;
        }

        .todo-checkbox {
            border: 2px solid #fff;
            border-radius: 50%;
            box-sizing: border-box;
            height: 1rem;
            width: auto;
            aspect-ratio: 1/1;


        }
    }

    .todo-footer {
        background-color: var(--brand-purple);

        .todo-priority {
            background-color: #222;
            padding: .2rem 1rem;
        }
        
        .todo-projects {
            color: #fff;
            opacity: .7;
        }

        .todo-delete-button {
            margin-left: auto;
            background-color: var(--darker-purple);
            padding: .2rem 1rem;
            color: #fff;
            border-radius: .2rem;

            &:hover {
                background-color: var(--danger-red);
            }
        }

    }

    .todo-body {
        background-color: #fff;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .todo-description {
            color: #000;
            cursor: pointer;
        }

        .todo-description-input {
            resize: none;
            width: 100%;
            overflow: auto;
            height: 3rem;
            font-family: inherit;
            padding: .4rem;
            border: 1px solid #eee;
            background-color: #eee;
            box-sizing: border-box;
        }

        p, ul {
            padding: 0px;
            margin: 0px;
        }

        
    }

    &[closed] .todo-body {
        display: none;
    }

    .todo-footer {

        input {
            background-color: var(--dark-purple);
        }
    }

    input {
        border: none;
        color: #fff;
        background-color: var(--brand-purple);
        padding: .2rem .4rem;
        &::placeholder {
            color: #fff9;
        }
    }

    button {
        border: none;
        cursor: pointer;


    }

    &[project-filtered], &[time-filtered], &[priority-filtered]{
        display: none;
    }

    &[data-priority="low"] .todo-priority:before{
        content: 'low';
        color: greenyellow;
    }

    &[data-priority="medium"] .todo-priority:before{
        content: 'medium';
        color: orange;
    }

    &[data-priority="high"] .todo-priority:before{
        content: 'high';
        color: orangered;
    }
}